{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.name) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.image) }}
    <button class="btn btn-success">{{ button_label|default('Enviar') }}</button>
{{ form_end(form) }}
