{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
    
    <header class="header">
        <div class="d-flex justify-content-between align-items-center px-5">
            {% block header %}
            <div>
                <img src="{{ asset('media/website/doctaforum-logo-white.png') }}" class="img-fluid">
                <div class="header__navbar d-inline-block mx-4">{% include "components/admin/admin_menu.html.twig" %}</div>
            </div>
            <div class="text-center text-light d-flex justify-content-between align-items-center">
                <!-- <div class="header__profile-photo" style="background-image: url({{ asset('media/admins/user-default.png') }});"></div> -->
                <a href="{{ path('admin_show', {'id': app.user.id}) }}"><p class="mb-0 px-5 text-white">{{ app.user.name }} {{ app.user.firstname }}</p></a>
                <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-2x text-white"></i></a>
            </div>
            {% endblock %}
        </div>
    </header>

    <section>
        <div class="container my-5">
        {% block section %}{% endblock %}
        </div>
    </section>

    <footer>
    {% block footer %}{% endblock %}
    </footer>
{% endblock %}